* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.registros 
{
 width: 400px;
 background-color: #8c8d9c;
    padding: 30px;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 15px;
    border: 10px solid rgb(14, 0, 0);
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

h1
{
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 10%;
    

}
h2
{
    padding: 10px;    
    margin-left: 10%;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 15px;

}


.registros h4 
{
    width: 400px;
    padding: 0px;
    margin: 0px;
    
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 15px;

}


.controls 
{
width: 100%;
background: white;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
font-size: 18px;

}

.controls-edad 
{
width: 40%;
background: white;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
font-size: 14px;
}

.registros h5

{
    
color:white;
font-size: 18px;

}


.buttons
{
background-color: rgb(65, 133, 223);
color: white;
font-size: 20px;



}

 
   







